body {
	margin: 0;
	padding: 0;
}

#wrap {
	margin: 0.5rem;
}

@media (max-width: 624px) {
	#wrap {
		margin-block: 3rem;
	}
}

dl {
	margin-top: 0;
}

dt {
    margin-top: 0.5rem;
    font-style: italic;
}

dd {
    margin-left: 1rem;
}
